<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        <title>{% block title %}{{ bwbase_title() }}{% endblock %}</title>
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
        {% block metas %}{{ bwbase_meta_tags() }}{% endblock %}
        {% block link_tags %}{{ bwbase_link_tags() }}{% endblock %}
        {% block js_sdk_head %}{{ bwbase_sdks_html('head') }}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block js_sdk_body %}{{ bwbase_sdks_html('body') }}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>